.btn {
    cursor: pointer;
    border: none;

    &--change {
        background-color: transparent;
        border-left: 1px solid $secondary;
        border-right: 1px solid $secondary;
        color: $secondary;

        font-size: 3.5rem;


        transition: background-color .2s ease-in-out;

        &:hover {
            background-color: $secondary-dark;
        }
    }
    
}