.btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: $light;
    
    transition: background-color .25s ease-in-out;

    &:hover { background-color: $secondary-dark; }
    
    &--change {
        border-left: 1px solid $secondary;
        border-right: 1px solid $secondary;
        color: $secondary;

        font-size: 3.5rem;



    }

    &--suggestion {
        border: 1px solid $secondary;
    }

    &--reset {
        border: 1px solid $terceary;
    }
    
    &--submit {
        border-bottom: 1px solid $secondary;
        border-left: 1px solid $secondary;
        border-right: 1px solid $secondary;

        border-bottom-right-radius: $border;
        border-bottom-left-radius: $border;

        font-size: $f-medium;
        color: $secondary;
        letter-spacing: 3px;

        transition: color .25s ease-in-out;

        &:hover {
            color: $light;
        }
    }
}