.converter {
    width: 100vw;
    height: 100vh;
    max-width: 40rem;
    max-height: 80rem;

    padding: $gutter / 2;
    border: 1px solid $secondary;

    background-color: transparent;
    border-radius: $border;
    
    text-align: center;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 1fr;
    gap: $gutter;

    @include media('>=320px') {
        padding: $gutter;
    }
}