.input {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    padding-left: $gutter - 0.5;
    
    font-size: $f-medium;
    text-align: inherit;

    border-left: 1px solid $secondary;
    border-right: 1px solid $secondary;


    transition: background-color .2s;

    &--valid {background-color: $valid;}
    &--invalid {background-color: $invalid;}

}