.screen {
    width: 100%;
    height: 100%;
    
    background-color: $light-transparent;
    opacity: .9;

    border-top-left-radius: $border;
    border-top-right-radius: $border;
    box-shadow: 0rem 1rem 1rem 0rem $secondary;

   font-size: $f-big;
   text-align: center;


   @extend %flex-center
}