html {
    box-sizing: border-box;
    font-size: 62.5%;
    // background-color: $dark;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: monospace;
    color: $font-color;
    font-size: $f-medium;
    margin: 0;
}
input,
select {
    color: $font-color;
    background-color: transparent;
    border: none;
    text-align: center;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background:linear-gradient(
        to bottom,
        $secondary-dark 0%,
        $dark 100%
    );
}