:root {
  --primary: darkslateblue;
  --secondary: rgb(176, 194, 238);
  --secondary-dark: rgb(176, 180, 238);

  --valid: rgb(179, 255, 179);
  --invalid: rgb(255, 189, 177);

  --light: #ffffff;
  --dark: #2b2b2b;
}

$primary: var(--primary);
$secondary: var(--secondary);
$secondary-dark: var(--secondary-dark);
$valid: var(--valid);
$invalid: var(--invalid);
$light: var(--light);
$dark: var(--dark);


// Breakpoints
$breakpoints: (
  'phone': 320px,
  'tablet': 768px,
  'laptop': 1024px,
  'desktop': 1400px
) !default;