:root {
  // Colors
  --primary: #c73434;
  --secondary: #df366e;
  --secondary-dark: #57001d;
  --terceary: #ab38c3;
  --font-color: #bffff6;

  --valid: rgb(179, 255, 179);
  --invalid: rgb(130, 54, 54);

  --light: #ffffff;
  --light-transparent: rgba(255, 255, 255, 0.35);
  --dark: #0a0a0a;

  // Fonts
  --f-big: 7rem;
  --f-medium: 1.5rem;
  --f-small: 2rem;

  @include media('>=335px') {
    --f-medium: 2rem;
  } 
  @include media('>=360px') {
    // $f-medium: 3rem;
  } 
  // Sizes
  --border: 2.5rem
}

$primary: var(--primary);
$secondary: var(--secondary);
$secondary-dark: var(--secondary-dark);
$terceary: var(--terceary);
$font-color: var(--font-color);
$valid: var(--valid);
$invalid: var(--invalid);
$light: var(--light);
$light-transparent: var(--light-transparent);
$dark: var(--dark);

$f-big: var(--f-big);
$f-medium: var(--f-medium);
$f-small: var(--f-small);

$border: var(--border);

$gutter: 2rem;

// Breakpoints
$breakpoints: (
  'phone': 350px,
  'tablet': 768px,
  'laptop': 1024px,
  'desktop': 1400px
) !default;